﻿@model IEnumerable<Album>
@{
    ViewData["Title"] = "LINQtest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AlbumId </td>
            <td>@item.Title </td>
            <td>@item.Artist.Name </td>
            <td>@item.Genre.Name </td>
            <td>@item.Price</td>
        </tr>
    }
</table>
