﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <div id="main-content">@RenderBody()</div>
    @if (IsSectionDefined("Footer"))
    {
        RenderSection("Footer");
    }
    else
    {
        <span>This is the default footer</span>
    }

</body>
</html>
