﻿@model IEnumerable<MvcMusicStore.Models.Album>
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<h2>Albums List:</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Title</li>
    }
</ul>