﻿
@{
    ViewData["Title"] = "Sample";
}

<h1>Sample</h1>
<html>
<head>
    <title>Sample View</title>
</head>
<body>
    <h1>@ViewBag.Message</h1> <!--pick a value from ViewBag-->
    <p>
        This is a sample view that doesn't use the standard site
        layout.  It's not much, but you can see a controller field
        passed in the above heading
    </p>
</body>
</html>

